<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBas223e7D1ZzCo_LaguWW2r3AW0fQ4l8E</string>
	<key>GCM_SENDER_ID</key>
	<string>588880211691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scramble.LAScramble</string>
	<key>PROJECT_ID</key>
	<string>la-scramble-356ad</string>
	<key>STORAGE_BUCKET</key>
	<string>la-scramble-356ad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588880211691:ios:e25a525b6faceb0355d8ae</string>
</dict>
</plist>